.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main{
  width: 100%;
  background-color: #fff;
  padding: 60px 30px;
  display: flex;
  justify-content: space-between;
}

.swiper{
  max-width: 580px;
}

.mainTitle{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 25px;
}

.mainInfoBlock{
  box-shadow: 10px 11px 30px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  width: 508px;
  margin-top: 64px;

  &Inner{
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}

.oldPrice,
.newPrice{
  font-weight: 400;
  font-size: 31px;
  line-height: 38px;
}

.oldPrice{
  text-decoration-line: line-through;
  margin-right: 20px;
}

.btns{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.btn{
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 10px 45px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  transition: background-color .3s ease-in-out;

  &:hover{
    background-color: darken(#fff, 3%);
  }
}

.heart{
  margin-right: 38px;
  cursor: pointer;
}

.characteristics{
  padding: 60px 35px;
  margin: 50px 0;
  background: #FFFFFF;
  border-radius: 33px;
  width: 100%;

  &Title{
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
  }

  &Block{
    margin-top: 40px;
  }

  &Item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    &:last-child{
      margin-bottom: 0;
    }

    h3{
      font-weight: 400;
      font-size: 25px;
      line-height: 36px;
    }
  }
}

.description{
  padding: 60px 35px;
  background: #FFFFFF;
  border-radius: 33px;
  width: 100%;

  &Title{
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
  }

  &Text{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-top: 40px;
  }
}