.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  margin-top: 55px;
  margin-bottom: 100px;
}

.name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}



.images {
  display: flex;
  align-items: center;
}

.favorite {
  margin-right: 45px;
  width: 40px;
  height: 40px;
  transition: all .3s ease-in-out;

  &:hover{
    width: 45px;
    height: 45px;
    margin-right: 40px;
  }
}

.cartBlock {
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 30px;
  padding: 10px 18px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #fff;
  }
}

.price {
  margin-right: 24px;
  color: #000;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.cartImg {
  width: 40px;
  height: 40px;
}
